* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
}

.container {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.pass-box {
  display: flex;
}

.pass-box input {
  flex: 1;
}

.pass-box button {
  padding: 10px;
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

#error {
  color: white;
  background: red;
  padding: 10px;
  margin-bottom: 10px;
}

#success {
  color: white;
  background: green;
  padding: 10px;
  margin-bottom: 10px;
}
